@import 'tailwindcss';

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
  user-select: none;
}

input,
textarea {
  user-select: text;
}
